{% extends "layout.html" %}

{% block content %}

    <div class="inner cover">
        <p class="lead" id="step1">{{ text }}</p>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <img src="{{ url_for('static', filename='img/lx_ser_base.png') }}"/>
            </div>
            <div class="col-md-5">
                <img src="{{ url_for('static', filename='img/lx_ser_check.png') }}"/>
            </div>
        </div>
        <div class="row"><br>
            <div class="col-md-12"><p>Move the blue slider below and click 'Enter!' (the comparison stars need labelling
                'A', 'B', etc.)"</p></div>
        </div>
        <div class="row">
            <!-- nasty css hacks/direct values for now -->
            <div class="col-md-10 col-md-offset-1">
                <form action="{{ url_for('slider') }}" method="post" name="slider">
                    <p id="step2"
                       style="background-image: url(../static/img/slider_scale.png);">
                        <input type="range" id="slider" name="slider" min="10.6" max="17.4" step="0.1"
                               value="{{ slider | default("14") }}" style="height: 75px;"/></p>
                    <p><label for="slider">Magnitude</label></p>
                    <p><input class="btn btn-lg btn-default" type="submit" value="Enter!"/></p>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p>(After three entries the curve will begin to draw. Don't have any data, so just goes on
                    forever. Click 'Next, if bored'...)</p>
                <p><img src="{{ url_for('step_plot') }}?time={{ get_time() }}" height="200"/></p>
                <p class="lead" id="step3">Step {{ step }} of x?</p>
                <!--test-- <p class="lead">{{ data | safe }}</p> -->
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

    <div class="mastfoot clearfix">
        <div>
            <!-- <button class="btn btn-lg btn-default masthead-brand">Back</button> -->
            <a href="/results">
                <button class="btn btn-lg btn-default masthead-nav">Next, if bored</button>
            </a>
        </div>
    </div>

{% endblock %}
