{% extends "layout.html" %}

{% block content %}

    <div class="inner cover">
        <h2 class="cover-heading">Disclaimer: This is a proof-of-concept prototype. It was made to work in fullscreen at
            1920x1080 resolutions, so that users do not have to scroll (so there's limited space for information.
            It has been adapted to run on the web for testing purposes, but to fully implement this is quite a bit more
            effort than for desktop use.</h2>
        <h2>The look is very basic at the moment and things might break; so, it needs to be prettied up,
            with the required content added, and tested to see whether it's usable/fun.</h2>
        <h3>Some background information/explanation goes on this page, like:</h3>
        <p>{{ text }}</p>

        <p class="lead"><br><br><br>
            <a href="/estimation" class="btn btn-lg btn-default">Start the thing</a>
        </p>
        <h5 class="cover-heading">(Times started so far: {{ session }})</h5>
    </div>

{% endblock %}
