<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- This stuff isn't required but meh -->
    <meta name="description" content="Variable Star App">
    <meta name="author" content="NAS">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{{ title|capitalize }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}" type="text/css">
    <!-- Javascript -->
    <script src="{{ url_for('static', filename='js/modernizr-2.8.3-respond-1.4.2.min.js') }}"
            type="text/javascript"></script>
</head>

<body>

<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <h5>Help needs to be added.</h5>
            <p>Could have a pop-up box like this that jumps around the page explaining certain
                elements.</p>
            <p>Lots of explanation text tends to clutter things up.</p>
        </div>
    </div>
</div>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="row masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">{{ title | capitalize }}</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            {% if start %}
                                <li>&nbsp;</li>
                            {% else %}
                                <li><a href="/">Restart</a></li>
                            {% endif %}
                            <li><a href="" data-toggle="modal" data-target=".bs-example-modal-lg">Help</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            {% block content %}{% endblock %}

            {% block footer %}{% endblock %}

        </div>
    </div>
</div>

<!-- More javascript... -->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"><\/script>')</script>
-->
<script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
</body>
</html>
