{% extends "layout.html" %}

{% block content %}

    <div class="inner cover">
        <h2 class="cover-heading">This is the results page where the user compares their light curve to
            some other ones to determine what type of variable star it is. Currently don't have light curves to
            use, but can generate some easily with magnitude values, so they look similar to the user
            generated light curve.</h2>
        <h2>Once they click the right comparison (I guess if they pick a wrong one they get another try?) they
            are taken to a next page that explains the variable star. </h2>
        <p><br><br><br></p>
        <p><img src="{{ url_for('step_plot') }}?time={{ get_time() }}" height="200"/></p>
        <p>You can click restart at the top to have another go...</p>
    </div>

{% endblock %}
